!   xterm config / and urxvt config
!   andrew hooke
!
!   make sure to 
!   $ xrdb -merge ~/.Xresources

!   XTERM CONFIG
!   font
    xterm*faceName: UbuntuMono
    xterm*faceSize: 14
!   colors - all of em (gruvbox theme based on my st config!)
    xterm*foreground:                  rgb:eb/db/b2
    xterm*background:                  rgb:28/28/28
!   normal colors
    xterm*color0:                      rgb:28/28/28
    xterm*color1:                      rgb:fb/49/34
    xterm*color2:                      rgb:b8/bb/26
    xterm*color3:                      rgb:fa/bd/2f
    xterm*color4:                      rgb:83/a5/98
    xterm*color5:                      rgb:fe/81/09
    xterm*color6:                      rgb:8e/c0/7c
    xterm*color7:                      rgb:eb/db/b2
!   bright colors
    xterm*color8:                      rgb:92/83/74
    xterm*color9:                      rgb:cc/24/1d
    xterm*color10:                     rgb:98/97/1a
    xterm*color11:                     rgb:d7/99/21
    xterm*color12:                     rgb:45/85/88
    xterm*color13:                     rgb:d6/5d/0e
    xterm*color14:                     rgb:68/9d/6a
    xterm*color15:                     rgb:a8/99/84

!   URXVT CONFIG
    *.color0:                          rgb:28/28/28
    *.color1:                          rgb:fb/49/34
    *.color2:                          rgb:b8/bb/26
    *.color3:                          rgb:fa/bd/2f
    *.color4:                          rgb:83/a5/98
    *.color5:                          rgb:fe/81/09
    *.color6:                          rgb:8e/c0/7c
    *.color7:                          rgb:eb/db/b2
!   bright colors
    *.color8:                          rgb:92/83/74
    *.color9:                          rgb:cc/24/1d
    *.color10:                         rgb:98/97/1a
    *.color11:                         rgb:d7/99/21
    *.color12:                         rgb:45/85/88
    *.color13:                         rgb:d6/5d/0e
    *.color14:                         rgb:68/9d/6a
    *.color15:                         rgb:a8/99/84
!   foreground/background
    *.foreground:                      rgb:eb/db/b2
    *.background:                      rgb:28/28/28
    *.cursorColor:                     rgb:eb/db/b2
    URxvt*scrollBar:                   false
!   font
    URxvt.font:                        xft:UbuntuMono Nerd Font:pixelsize=20:antialias=true:hinting=true
    URxvt.boldFont:                    xft:UbuntuMono Nerd Font:bold:pixelsize=20:antialias=true:hinting=true
!   opacity
    urxvt*depth:                       32
    URxvt.background:                  [95]#282828
!   border
    URxvt.internalBorder:              0
! Restore Ctrl+Shift+(c|v)
    URxvt.keysym.Shift-Control-V:      eval:paste_clipboard
    URxvt.keysym.Shift-Control-C:      eval:selection_to_clipboard
    URxvt.iso14755:                    false
    URxvt.iso14755_52:                 false
